.portfolioContainer {
  font-size: 0.5rem;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  min-height: 140px;

  @media (max-width: 1024px) {
    font-size: 2rem;
    max-width: 90vw;
    height: 5vh;
  }

  @media (min-width: 1024px) {
    width: 300px;
    font-size: 1.6rem;
  }

  .positiveChange {
    color: green;
  }

  .negativeChange {
    color: red;
  }
}



