.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.header {
  font-size: 24px;
  margin-bottom: 20px;
}

.portfolioListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: flex;
    align-items: center;
    margin: 10px;

    img {
      height: 16px;
      width: 16px;
      margin-right: 5px;
    }

    .coin-details {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    button {
      margin-top: 10px;
    }
  }
}

@media (min-width: 768px) {
  .container {
    height: auto;
  }

  .portfolioListContainer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  li {
    margin: 10px 20px;
  }

  .coin-details {
    align-items: flex-start;
  }

  .header {
    text-align: left;
    margin-bottom: 10px;
  }
}
